
<section class="property-binding">
    
    <article>
	<h3>Interpolation / Interpolação</h3>
	<!-- <p>String renderizadas com interpolação: {{ url }}</p> -->
    <!-- <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p> -->
        <!-- <p>não é: {{ 1 + 1 getValor() }}</p> -->
	<!-- <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p> -->
    </article>
	

</section>
<!-- <article>
<h3>Propertyy bindibg</h3>

<img src="{{ urlImagem }}">
<img [src]="urlImagem">
<img bind-src="urlImagem">


</article>  -->
