<section class="property-binding">
	<article>
		<h3>Interpolation / Interpolação</h3>
	<p>String renderizadas com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
	 
	 <!--<p>Resultado de 1 + 1 é: {{ 1 + 1 getValor() }}</p>
	<p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p> --> 


</article>

<article>
<h3>Property binding</h3>
<!-- VALOR DO COMPONENTE NO TEMPLATE
USA COLCHETES <img src[]='url-imagem'> 
. FORMATO PADRÃO É ATRAVÉS DE bind-nomedapropriedade 
. QUANDO NÃO EXISTE UMA PROPRIEDADE NO ELEMENTO USA-SE [attr.colspan]-->


<img src="{{ urlImagem }}"> 
<!-- <img [src]="urlImagem"> PODE TBM SER ASSIM-- Property bind>
<!-- <img bind-src="urlImagem"> E ASSIM-->

</article>

<article>
	<h3>Class e Style binding</h3>
	<div>
		Seleciona uma classe: 
		<!-- <select #classe (change)="0"> -->
			<select>
			<option value="alert-success">Sucesso</option>
			<option value="alert-success">Sucesso</option>
			<option value="alert-success">Sucesso</option>
			<option value="alert-success">Sucesso</option>
		</select>
		
		
			<!-- <div class="alert alert-success"role="alert">this important alert message</div>
			<div class="alert alert-info"role="alert">this important alert message</div>
			<div class="alert alert-warning"role="alert">this important alert message</div>
			<div class="alert alert-danger"role="alert">this important alert message</div> -->

	</div>





</section>